[2018-04-09 17:30] lalitmee opened #1 "Name and logo for the application"
Guys, I think **name** and **logo** are very important for any application. So we should discuss it and find a nice name and let's also design a nice logo for our application.

[2018-04-09 17:42] ezioda004 commented on #1
Maybe Parul can work on the logo if she wants.
Yes, we should definitely get a name or we'll end up using "quiz-app (name undecided)".

[2018-04-09 17:54] ezioda004 opened #2 "Data Model for the app."
Come up with the data model for the app.
You should consider these features while working on it.

A Single Page Application which has:
1. Dashboard for separate users (Users can access their profile, see their previous challenge score etc)
2. A Player vs Player mode, where users can challenge random users.
3. A Practice mode, where users will be tested with their preferred language against the gre

[2018-04-09 17:54] ezioda004 commented on #2
Assigning it to @kadumuri1994

[2018-04-10 06:19] ezioda004 opened #4 "Make a contributing guide."
Make a guide for users to get started with React and a contributing guide.

[2018-04-10 06:24] lalitmee commented on #4
@ezioda004 I think we can remove the default `Readme.md` file from our project and create a new one for the same.
I can make a contributing guide that will help us in reviewing the code and commits very easily. I have seen a standard one in [coala](https://github.com/coala/coala) organization. They have a very good contributing guide.

[2018-04-10 06:34] ezioda004 commented on #4
@fayazara You can work on semantics/workflow guide.
@lalitmee Yes, the default README.md is only temporary. It does have some troubleshooting methods, You can work on making a guide for React/Contribution (leave the setup part of the project).

Assigning this task to both of you.

We'll need a setup guide(github quick-guide) for the project, which I'll let a beginner make. It'll be their good firs

[2018-04-10 06:41] lalitmee commented on #4
Hey @ezioda004, actually I would say that don't call them beginners :wink:
you can call other team members if you want to refer.
Now we are a team no one is beginner and expert. We all are here for learning something new. :innocent:

[2018-04-10 06:52] ezioda004 commented on #4
@lalitmee The peers who have been learning web-dev for only past couple of months, I'd say they're just beginning their journey therefore a beginner. Team-member would be inaccurate term because the team here is well "us". We're suppose to guide them, anyway this is going off-topic and can be discussed somewhere else.

Please keep the comments here clean and on topic with the issue.

[2018-04-10 16:56] kadumuri1994 commented on #2
![challenge page](https://user-images.githubusercontent.com/36915315/38571431-1e4ff09e-3d0e-11e8-80ee-8d846e478889.jpg)
In the player vs player mode, as the per the design by parul, I see a question with 4 options and a timer. May I know how does it work? I understand their can be two ways of implementing it.
1. Whoever answers first, his score will be increase and next question will be displayed.

[2018-04-10 19:35] kadumuri1994 commented on #2
Tried making a data model. Please access it at the below link by signing up (You can view and edit):

https://www.lucidchart.com/invitations/accept/4959f428-f905-44ff-9a82-1cd55f6cf960

I think there needs to be lot more modifications to this. Review this and give feedback .

[2018-04-11 06:04] ezioda004 opened #7 "Make a project setup guide with a quick github starter."

[2018-04-11 06:07] lalitmee commented on #7
Hey @ezioda004 , by project setup guide, you mean that how other people can set up this project in their systems or something else?

[2018-04-11 06:08] ezioda004 commented on #7
@lalitmee Yes, this is what we talked about yesterday.
Let someone aside from team handle this, since this is easy one and also a good first issue.

[2018-04-11 14:44] lilithxxx commented on #7
I am taking this up.

[2018-04-11 14:45] lalitmee commented on #7
@lilithxxx, Yeah sure.

[2018-04-11 14:57] ezioda004 commented on #7
@lilithxxx Please wait till we add a Readme file.
It's being worked on.

[2018-04-11 22:44] #4 closed

[2018-04-12 00:56] kadumuri1994 opened #10 "High level design of quiz app"
This would certainly help the developers/contributors understand the architecture of the web application (using a diagram) detailing the interaction of each component (using an underlying technology) of the product.
An example of such would be as below:
https://goo.gl/images/eCfxoT

[2018-04-12 04:03] abhishekakade commented on #7
I'd like to work on project setup guide too and how to sync the fork if it's okay :)

[2018-04-12 06:56] amitjadhav007 commented on #1
@ezioda004 If you guys want I can work on the logo and name

[2018-04-12 07:00] lalitmee commented on #1
hey @amitjadhav007, the logo is done by @parulbindal . I hope we will update the logo soon. Same with the name.
We will be creating new issues soon. I hope you will find some for yourself. :innocent:

[2018-04-12 07:07] ezioda004 commented on #7
@lilithxxx You can work on github starter guide. Step by step instruction, as to how to setup github.
There's a github section in the CONTRIBUTING.md file.

@abhishekakade You can work on project setup guide and common troubleshooting methods such as how to sync your fork. There's "Project Setup Instructions" in the CONTRIBUTING.md file.

Assigning to both of you.

[2018-04-12 07:14] lalitmee commented on #7
hey @abhishekakade, for **how to sync your fork**, I think [this](https://help.github.com/articles/syncing-a-fork/) will be a good source of information. If you want any help, tell us. :+1:

[2018-04-12 07:26] abhishekakade commented on #7
@ezioda004 sure. Thank you @ezioda004, @lalitmee :)

[2018-04-12 10:17] #7 closed

[2018-04-12 12:13] jibin2706 commented on #2
@kadumuri1994
For both players to play simultaneously means the number of people using this app should large. Instead we can take a other approach maybe.
Like the first player can answer and when ever the second player comes online he could answer.
Just a suggestion.

[2018-04-12 12:57] Vanisha27 commented on #2
Hey @jibin2706
Actually, it's a challenge mode, kinda like inviting someone to play pool or cards online. So both players need to be online and taking the quiz.

[2018-04-12 15:31] ezioda004 commented on #2
@jibin2706 This is exactly the approach we're taking. I reckon this will give us more flexibility with the implementation. Thanks for your suggestion!

[2018-04-13 12:03] vattytrivedi commented on #10
# Suggestion in Look and feel

Great to see that the technology stack in the react. Just a suggestion have a look at the [Grommet](http://grommet.io/) it is much better and easy to integrate than Bootstrap, as it is built for react only.

[2018-04-13 16:26] vattytrivedi commented on #10
Thanks for reply @lalitmee

[2018-04-14 00:56] ezioda004 opened #23 "Create a Navbar for Signup/Signin Page"
Create a navbar as shown in [this picture](https://raw.githubusercontent.com/parulbindal/quiz-app/master/src/assets/images/Sign%20Up%20Page%20Detailed.jpg)

How to get started? Read our [project setup instructions](https://github.com/UdacityFrontEndScholarship/quiz-app/blob/master/CONTRIBUTING.md#project-setup-instructions).
Fork the project, navigate to directory quiz-app => src => Component => H

[2018-04-14 00:59] ezioda004 opened #24 "Create a SignUp form for Signup/Signin Page"
Create a Signup form as shown in [this picture](https://raw.githubusercontent.com/parulbindal/quiz-app/master/src/assets/images/Sign%20Up%20Page%20Detailed.jpg)

How to get started? Read our [project setup instructions](https://github.com/UdacityFrontEndScholarship/quiz-app/blob/master/CONTRIBUTING.md#project-setup-instructions).
Fork the project, navigate to directory quiz-app => src => Component

[2018-04-14 01:04] ezioda004 opened #25 "Create a SignIn form for Signup/Signin Page"
Create a Signin form as shown in [this picture](https://raw.githubusercontent.com/parulbindal/quiz-app/master/src/assets/images/Sign%20In%20Page%20Detailed.jpg)

How to get started? Read our [project setup instructions](https://github.com/UdacityFrontEndScholarship/quiz-app/blob/master/CONTRIBUTING.md#project-setup-instructions).
Fork the project, navigate to directory quiz-app => src => Component

[2018-04-14 01:08] ezioda004 opened #26 "Create a Footer for the Signup/Signin Page"
Create a Footer as shown in [this picture](https://raw.githubusercontent.com/parulbindal/quiz-app/master/src/assets/images/Sign%20In%20Page%20Detailed.jpg)

How to get started? Read our [project setup instructions](https://github.com/UdacityFrontEndScholarship/quiz-app/blob/master/CONTRIBUTING.md#project-setup-instructions).
Fork the project, navigate to directory quiz-app => src => Component => F

[2018-04-14 05:42] bhshkh commented on #26
Please assign this issue to me

[2018-04-14 06:24] abhishekakade commented on #25
Can I work on this one?

[2018-04-14 06:25] lalitmee commented on #23
Yeah sure, @abhishekakade.
Assigned to you.

[2018-04-14 06:27] ezioda004 commented on #26
@bhshkh You can work on this, make sure you complete by tomorrow positively or we may have to assign it somebody else. Any queries regarding, contact any of the co-mods or me.

[2018-04-14 06:27] lalitmee commented on #26
Assigned to @bhshkh. :+1:
But follow the guides in the issue as mentioned. Okk. :innocent:

[2018-04-14 06:29] lalitmee commented on #25
hey @abhishekakade, I have assinged you the other issue. First complete that then will assgin you to this issue. :wink:

[2018-04-14 06:30] ezioda004 commented on #25
What @lalitmee said, we'd like more first times to tackle this issue.

[2018-04-14 06:39] Ajayjam97 commented on #25
Can i work on this?

[2018-04-14 06:40] ezioda004 commented on #25
@Ajayjam97 Absolutely, assigned to you. If you have any issues feel free to contact us.

[2018-04-14 06:49] Ajayjam97 commented on #25
Thanks! @ezioda004.
As we only have to create elements so I have created this signIn form.  It does not contain any style. I am attaching the image of my result. Is this good or I should improve it further?

![signin](https://user-images.githubusercontent.com/21179880/38765395-1283d26c-3fde-11e8-92a5-83fda7fe184a.PNG)

[2018-04-14 06:55] ezioda004 commented on #25
@Ajayjam97 That's fine for now, however you can add SVG icons for Google and Github. I'd suggest using this. http://konpa.github.io/devicon/ I'm sure you can find the exact icon as shown in the picture.

[2018-04-14 07:48] suhas023 commented on #24
I'll work on this.

[2018-04-14 07:56] lalitmee commented on #24
assigned to @suhas023. :+1:

[2018-04-14 08:33] abhishekakade commented on #25
Sure! :) @ezioda004, @lalitmee

[2018-04-14 08:35] abhishekakade commented on #23
Thanks! :raised_hands:t4:

[2018-04-14 09:01] Amir22010 commented on #23
can i do that, + routing too

[2018-04-14 09:04] ezioda004 commented on #23
@Amir22010 We've assigned this to @abhishekakade
We'll be making more issues (for routing too), everyone will get a chance.

[2018-04-14 09:05] Amir22010 commented on #26
i want to contribute to this section

[2018-04-14 14:07] ezioda004 commented on #24
Resolved by @suhas023
Closing.

[2018-04-14 14:07] #24 closed

[2018-04-14 15:13] abhishekakade commented on #23
@ezioda004 done. Please check PR and suggest changes if any. Thanks! :raised_hands:

[2018-04-14 17:25] kadumuri1994 commented on #26
@Amir22010 , thanks for your interest. But I think this issue has been assigned to @bhshkh and I guess he is already working on it. We will be uploading the issues every now and then. Wait for it :)

[2018-04-14 23:49] ezioda004 commented on #23
Resolved by @abhishekakade
Closing this issue.

[2018-04-14 23:49] #23 closed

[2018-04-15 02:07] ezioda004 commented on #25
Resolved by @Ajayjam97
Closing this issue.

[2018-04-15 02:07] #25 closed

[2018-04-15 07:42] ezioda004 opened #32 "Style Header Component"
## Style the Header Component as shown in this picture.
![image](https://user-images.githubusercontent.com/20020273/38775935-f9971c9a-40ab-11e8-9399-549a88bc98d2.png)

## For the logo use this image.
![image](https://user-images.githubusercontent.com/20020273/38776047-403a93d2-40ae-11e8-8f8e-7797acc11e4b.png)

How to get started? Read our [project setup instructions](https://github.com/UdacityFron

[2018-04-15 07:54] ezioda004 opened #33 "Style the Form, Signup, Signin Components"
## Style the Form, Signup and Signin Component as shown in this picture.
![image](https://user-images.githubusercontent.com/20020273/38775935-f9971c9a-40ab-11e8-9399-549a88bc98d2.png)

Special note on this one.
You'll have to style in 3 CSS files because we have 3 components.
1. Signup Component - contains Signup form
2. Signin Component - contains Signin form
3. Forms Component - renders and cont

[2018-04-15 08:05] ezioda004 commented on #26
@bhshkh Any updates? Please update me by 8 o'clock tonight on slack. If you don't I'll have to reassign this to someone else.

[2018-04-15 08:42] abhishekakade commented on #33
@ezioda004 sure! Thank you! :)

[2018-04-15 09:12] kadumuri1994 commented on #32
Can I try this?

[2018-04-15 09:26] ezioda004 commented on #32
@muditasisodia Absolutely! Assigned to you.
If you get stuck anywhere, feel free to ping us here or on slack. We'll assist you the best way possible.

[2018-04-15 09:27] muditasisodia commented on #32
Great, thanks!

[2018-04-15 10:41] jibin2706 opened #35 "In Header collapse navbar not working"
I think we have to include bootstrap.js and jQuery

[2018-04-15 10:45] ezioda004 commented on #35
Hi, @jibin2706,
Thank you for bringing this to our attention.
We've added that as a dependency but apparently its still not working even with importing.
I'd look into that, meanwhile can you make a PR with latest jQuery CDN and popper.js CDN added in the `index.html` file?

[2018-04-15 10:47] jibin2706 commented on #35
yes sure

[2018-04-15 11:00] ezioda004 commented on #35
Resolved with #36
Closing.

[2018-04-15 11:00] #35 closed

[2018-04-15 11:09] kadumuri1994 commented on #26
@SukhjinderArora yes, sure. But let's see if @bhshkh  can provide any update by 8 o' clock as @ezioda004  mentioned.

[2018-04-15 11:54] muditasisodia commented on #32
Should the navbar be light grey as it is of class bg-light in the source code or should I set it to white or transparent as it is in the above image?

[2018-04-15 11:57] ezioda004 commented on #32
@muditasisodia You can definitely change the source code so it looks like the image.
The provided code is just skeleton, if required you can make any changes.

[2018-04-15 11:59] lalitmee commented on #32
Hey @muditasisodia, I think you can keep it transparent as it is in the above image. Don't worry about the code, the code is written by the people only to put the elements there. I would say that you can try to make as it is appearing in the image. :+1:

[2018-04-15 12:02] muditasisodia commented on #32
Okay thanks

[2018-04-15 13:15] pben1984 commented on #33
What does %25 mean in box shadow?

[2018-04-15 13:26] abhishekakade commented on #33
@pben1984 `%25` is used in URL encoding to replace empty space. I'm not sure about it's use in box shadow though.

[2018-04-15 14:07] pben1984 commented on #33
@abhishekakade in image above it says shadow #000000 25%

[2018-04-15 14:35] ezioda004 commented on #32
Resolved #37
Closing issue.

[2018-04-15 14:35] #32 closed

[2018-04-15 14:43] ezioda004 commented on #26
@SukhjinderArora Assigning it to you now, please do it by tomorrow. If you have any questions, feel free to ask.

[2018-04-15 17:07] Ajayjam97 commented on #33
@pben1984  I think it is the alpha transparency value of #000000.

[2018-04-16 01:29] ezioda004 commented on #26
Resolved #39
Closing this issue.

[2018-04-16 01:29] #26 closed

[2018-04-16 04:39] ezioda004 opened #40 "Style Footer Component"
## Style the Footer Component as shown in this picture.
![image](https://user-images.githubusercontent.com/20020273/38775935-f9971c9a-40ab-11e8-9399-549a88bc98d2.png)

Make sure the Footer is responsive as well.

How to get started? Read our [project setup instructions](https://github.com/UdacityFrontEndScholarship/quiz-app/blob/master/CONTRIBUTING.md#project-setup-instructions).
Fork the project,

[2018-04-16 04:54] jibin2706 commented on #40
Assign this to me

[2018-04-16 04:59] Inderji commented on #33
I have to download this part to work on it??

[2018-04-16 05:05] SukhjinderArora commented on #40
Can I work on it ?

[2018-04-16 05:26] abhishekakade commented on #33
@ezioda004 made a pull request. Please check if any changes are required.

[2018-04-16 05:30] abhishekakade commented on #33
@Inderji this issue was assigned to me. You can keep an eye on issues section of this repository for any new issues and ask the mods if you can work on it or if it has already been assigned to someone else :)

[2018-04-16 05:48] ezioda004 commented on #40
Assigning to @jibin2706, feel free to contact us if you get stuck anywhere.
@SukhjinderArora We'll make more issues, please wait till we do so. 😇

[2018-04-16 05:53] jibin2706 commented on #40
@ezioda004 Is that a border around footer?

[2018-04-16 06:00] ezioda004 commented on #40
@jibin2706 The box is just for mockup purpose, to bundle all the links, visualizing which font properties to be used.

[2018-04-16 06:11] jibin2706 commented on #40
#515B69 is the background color or font color?

[2018-04-16 06:29] ezioda004 commented on #40
@jibin2706 Thats background-color with 8% opacity. Alternatively you can use `#F1F2F3` with 100% opacity instead.

[2018-04-16 14:55] kadumuri1994 commented on #33
@ezioda004 , in the signup form, upon clicking on 'sign in with google/github' I see it is asking to fill the first name, last name user id and password. Is it a valid workflow? If not is this issue being handled by any PR's?

[2018-04-16 15:18] ezioda004 commented on #33
@kadumuri1994 No, its not valid workflow. We havent setup authentication yet, thats why its acting this way and no, its not being worked by anyone at the moment.

[2018-04-16 16:50] abhishekakade commented on #33
Thank you @ezioda004 :raised_hands:

[2018-04-16 16:53] lalitmee opened #45 "Change the color of Active and Inactive Tab of Forms"
The color of the active tab of the SignUp Form and SignIn Form should be same as it is in this [figure](https://raw.githubusercontent.com/parulbindal/quiz-app/master/src/assets/images/Sign%20Up%20Page%20Detailed.jpg).

The border around the inputs should be not this much dark black. I think this `#c4c8cc` color value will be good for border color of all the inputs in the forms.

[2018-04-16 16:56] Ajayjam97 commented on #45
Can i do it?

[2018-04-16 16:58] ezioda004 commented on #45
I'm aware of the active tab issue and was working on that so to speak since it requires React and a bit more understanding I was avoiding any beginners to work on it.
@Ajayjam97 You can work on the input border if you want.

[2018-04-16 17:04] Ajayjam97 commented on #45
@ezioda004  Yes! sure. But If the active tab issue is not created as a new one, can i give it a try?

[2018-04-16 17:14] lalitmee opened #46 "Improve the footer style"
Some padding should be given to the footer content. Currently, the content of the footer is touching the upper line of the footer (as shown in the **Fig-1**).

- Fig-1
![screenshot from 2018-04-16 22-30-39](https://user-images.githubusercontent.com/10762218/38824108-d7a0e86c-41c5-11e8-866f-94c45f57baca.png)

<hr />

When the SignIn Tab is active the footer is detaching from the bottom of the page(

[2018-04-16 17:36] ezioda004 commented on #45
@pben1984 Both, but mainly a React logic.

@Ajayjam97 Well, I also have to clean up and refactor some of the Component logic, another reason why I was avoiding anyone to work on it.
Do not worry we will make more React specific issues.
Meanwhile, I'm assigning the latter task (inputs border) issue to you.

[2018-04-16 17:40] Ajayjam97 commented on #45
Ok! I understand. 👍

[2018-04-16 18:02] Ajayjam97 commented on #45
@lalitmee I have styled all the borders with red for my doubt. Should I add #c4c8cc color to all of them or just the input boxes?

![input](https://user-images.githubusercontent.com/21179880/38826603-f3ceec34-41cd-11e8-9d88-217c048f75ab.PNG)

[2018-04-16 18:13] lalitmee commented on #45
only input boxes, :wink:

[2018-04-16 18:15] lalitmee commented on #45
border color of these `Sign Up with Google` and `Sign Up with Github` also should be the same as input boxes.

[2018-04-16 18:15] Ajayjam97 commented on #45
ok 👍

[2018-04-17 05:29] abhishekakade commented on #45
@shubhsurya06 by default those buttons do have a border radius but as the UI/theme demanded, I changed the border radius to 0. But its a small issue, if they feel like they want border radius it can be added any time :sweat_smile:

[2018-04-17 05:50] shubhsurya06 commented on #45
If its already discussed, then it's ok.

[2018-04-17 05:51] ezioda004 commented on #45
@shubhsurya06 We'll be adding enhancements issues if required or you can open one yourself have a discussion going on about it. :)

[2018-04-17 07:01] ezioda004 commented on #40
Resolved by PR #43
Closing this issue.

[2018-04-17 07:01] #40 closed

[2018-04-17 11:17] ezioda004 commented on #45
Resolved as per #47 and #49
Closing.

[2018-04-17 11:17] #45 closed

[2018-04-19 15:03] Vanisha27 opened #50 "UI Design for Dashboard"
### Help us with the design of our dashboard.

The dashboard would include few details about the user and the statistics regarding their current progress in the quizzes.

This is a basic mockup of the same.
![image](https://user-images.githubusercontent.com/36723618/38999883-64afc1fa-4410-11e8-8d48-980f1930451d.png)

Here are a few things to be included on this page -
1. User's profile picture
2.

[2018-04-19 16:41] viditkothari commented on #50
May I please get some guide on your branding / persona?

[2018-04-19 17:55] ezioda004 opened #52 "Create a Navbar and Style it for Welcome Page"
## Create a Navbar and Style it as shown in below

![image](https://user-images.githubusercontent.com/20020273/39008887-a33dcf54-4427-11e8-98a6-fde344642338.png)

Here's the [logo](https://raw.githubusercontent.com/parulbindal/quiz-app/master/src/assets/images/skillup%20logo.jpg)

How to get started? Read our [project setup instructions](https://github.com/UdacityFrontEndScholarship/quiz-app/blob/

[2018-04-19 18:02] Padhma commented on #52
Assign this to me

[2018-04-19 18:24] ezioda004 opened #53 "Create and Style Welcome page content"
## Create and Style Welcome page content

![image](https://user-images.githubusercontent.com/20020273/39008887-a33dcf54-4427-11e8-98a6-fde344642338.png)

Here are the [images](https://imgur.com/a/AJt6L4o) used.

How to get started? Read our [project setup instructions](https://github.com/UdacityFrontEndScholarship/quiz-app/blob/master/CONTRIBUTING.md#project-setup-instructions).
Fork the project,

[2018-04-19 18:29] ezioda004 commented on #52
@Padhma Yes, please go ahead.
Feel free to ask us here or in PM if you get stuck
.
Please try to do it by Saturday morning.

[2018-04-19 18:30] benatbanglr369 commented on #53
@ezioda004 I dont see Page => Page.js and Page.css

[2018-04-19 18:31] ezioda004 commented on #53
@benatbanglr369 My bad, it should be `Home`, fixed it.

[2018-04-19 18:38] benatbanglr369 commented on #53
"CSS inside the <main></main>" It is HTML or CSS @ezioda004  ?

[2018-04-19 18:40] ezioda004 commented on #53
@benatbanglr369 Thanks for pointing it out, not my day 😅

[2018-04-19 18:41] benatbanglr369 commented on #53
Problem is its mid-night :joy:

[2018-04-19 18:51] benatbanglr369 commented on #53
Can you assign this to me pls?

[2018-04-19 19:46] jibin2706 commented on #50
User Rank maybe

[2018-04-20 05:33] souryavaranasi commented on #53
Hi @ezioda004  Can I work on this issue?

[2018-04-20 05:36] ezioda004 commented on #53
@souryavaranasi Can you try to do it by tomorrow night? We're trying to speed things up.

[2018-04-20 05:37] souryavaranasi commented on #53
@ezioda004  well then, that would be okay for me. will give my best.

[2018-04-20 05:39] ezioda004 commented on #53
@souryavaranasi Awesome! Assigning to you.
Feel free to message us if you need to any help.

[2018-04-20 05:45] ezioda004 commented on #50
@jibin2706 Yes, we plan to include a progression system with Rank and stuff. Please submit your design if you make one!

[2018-04-20 07:25] seethaR03 commented on #52
Is this issue still open?

[2018-04-20 07:33] ezioda004 commented on #52
Hey @seethaR03,
This issue is assigned to @Padhma, however you can work on [this UI design](https://github.com/UdacityFrontEndScholarship/quiz-app/issues/50)
We'll be making more issues everyday, so keep an eye out on the issues page.

[2018-04-20 15:30] creatorisback commented on #52
If Issue is still not completed i'll be happy to help

[2018-04-20 17:35] sb39 commented on #52
@ezioda004  commit made against it or still pending ?

[2018-04-21 01:37] kadumuri1994 commented on #52
@creatorisback , @sb39 . I think the commit has not been made yet. However, @Padhma is working on it. @ezioda004 will let you know today if it can be assigned to you as deadline is today I believe.

[2018-04-21 01:42] kadumuri1994 commented on #50
@creatorisback , as of now, you can consider data from the user statistics table of the below relational model (https://www.lucidchart.com/documents/edit/72a025d2-3e07-4d50-aa47-74e3001e4b46/0?shared=true&)
Perhaps, @ezioda004  might want to add/remove statistics at a later point.

[2018-04-21 02:28] creatorisback commented on #50
@kadumuri1994 lucid chart has permission issue my email is (8826047538r@gmail.com) please provide access so I can view document

[2018-04-21 03:48] kadumuri1994 commented on #50
@creatorisback , can you check now?

[2018-04-21 08:58] #52 closed

[2018-04-21 09:40] goss-gowtham commented on #53
@ezioda004, Can I work on this too?
Or will you be creating more issues, So that I'll work on that?

[2018-04-21 10:13] kadumuri1994 commented on #53
@goss-gowtham , don't worry. @ezioda004 will be surely creating new issues. Keep a check on issues section

[2018-04-21 15:23] #53 closed, assigned to nobody

[2018-04-21 16:25] creatorisback commented on #50
@kadumuri1994 still can't access doc
![ww](https://user-images.githubusercontent.com/28557067/39086429-bf8bdbc8-45ae-11e8-9447-75faf83c98e7.PNG)

[2018-04-21 16:35] Vanisha27 commented on #50
Hey @creatorisback
For now, we have decided to collect the following user data -

- Full Name
- Profile picture
- Username
- Statistics for
-- _Practice mode_ : Highscore, Avg score, Avg answer time.
-- _Challenge mode_ : Wins, Draws, Losses, Avg score, Avg answer time
- Number of matches played
- Total Score

Please do note that these can be changed later.
:slightly_smiling_face:

[2018-04-21 17:03] creatorisback commented on #50
That's why i want to discuss because bring change in UI becomes harder if the change is major so let's work together on this so we could figure out stats and type of data to be represented....A leaderboard should not just be appealing but usable too..:)

[2018-04-21 17:34] lalitmee opened #61 "Home Page Horizontal Scroll Bar Issue"
Home page is having a small horizontal Scrollbar. I think it is because of the image on the right(second image). It's looking awkward.

![peek 2018-04-21 22-59](https://user-images.githubusercontent.com/10762218/39087045-2ff3e08c-45b8-11e8-8e25-2a2981e5cca0.gif)

[2018-04-21 19:29] Vanisha27 commented on #50
You mean dashboard 😅

We have an ER diagram prepared so there shouldn't be really major changes. But yeah we can discuss before proceeding. 🙂

[2018-04-22 03:46] benatbanglr369 commented on #61
Could you please assign this Issue to me?

[2018-04-22 04:45] ezioda004 commented on #61
Assigning to @benatbanglr369
Please try to do it by today as its not a big one.

[2018-04-22 05:34] benatbanglr369 commented on #61
Sure!

[2018-04-22 09:56] Saichethan commented on #50
after signup a user dashboard should be generated for every particular user how are we doing it

[2018-04-22 12:44] ezioda004 commented on #61
#64
Resolved, closing.

[2018-04-22 12:44] #61 closed

[2018-04-22 13:28] ezioda004 opened #65 "Make the Welcome Page Responsive"
## Make the Welcome Page Responsive

The images arent scaling properly and the sections can be made to be stack on one another rather than on side with the images for mobile.

![screenshot 69](https://user-images.githubusercontent.com/20020273/39095386-6ae1dfe6-465d-11e8-845a-f22a2cffafe3.png)
![screenshot 70](https://user-images.githubusercontent.com/20020273/39095389-6dfd0d04-465d-11e8-8735-efec

[2018-04-22 13:34] goss-gowtham commented on #65
"stack on one another", Is this phrase mean that Image then texts below the other?
Can I work on this Issue? @ezioda004

[2018-04-22 13:40] ezioda004 commented on #65
Hi @goss-gowtham,

Yes, the images and the sections text show be below each other.

You already have an open PR, I suggest fixing that first. I cannot assign this to you until you fix that.

[2018-04-22 14:01] abhishekakade commented on #65
Can I work on this?

[2018-04-22 17:06] viditkothari commented on #50
Couple of things that I want to ask regarding this:

1. Have you set the scope for this? Without setting a scope no one can design this appropriately.
2. Do you have responsive application in the current scope? If so, then the design needs to be more than just well thought
3. Do you have some branding style guide / persona set for your app? By persona I mean look n feel?
4. **Specifically in the c

[2018-04-22 18:02] sb39 commented on #65
hey @ezioda004, assign it to me , and give me a brief , so that it becomes a bit easy to work upon, Thanks

[2018-04-23 02:59] kadumuri1994 commented on #65
@sb39 , you can start working on this issue. Try reading the requirement in the issue. If you still face issue in understanding, you can drop your questions here  .
 @SukhjinderArora  and @goss-gowtham , as you have already worked on few issues  we are giving a chance to first timers. Hope you understand :)

[2018-04-23 03:59] ezioda004 commented on #65
@sb39 You can work on this. Please contact me on slack if you're unable to understand anything.
As @kadumuri1994 said we're giving first timers priority. We'll be making more issues so more will get chance.

[2018-04-23 06:10] sb39 commented on #65
@ezioda004 please can you brief the problem and i would wrap it up by tommorow

[2018-04-23 09:38] abhishekakade commented on #65
@sb39, read the issue. Everything has been explained there. The images aren't scaling properly and the sections can be made to be stack on one another rather than on side with the images for mobile. The images and the sections text should be below each other.
Means in mobile view, it should look like **image** and then the **text should be below the image** rather than besides it like in the image

[2018-04-23 17:35] abhi1A commented on #65
I would like to work on this issue as its still not closed yet. Guys who are working on this if I can work on the problem if you are not proceeding forward with it. @ezioda004 can you brief a little more about the problem?

[2018-04-24 19:46] Vanisha27 commented on #50
Hey @viditkothari,
Sorry for my late response.
I'll try to answer your queries.

We have set a scope for this but not a very rigid one as for now. Also, we don't have a fixed criterion for the design, so any relevant additions can be done apart from the ones already mentioned.

Yes, we might include some more information but there shouldn't be any changes on the screen which would be difficult to

[2018-04-25 06:43] viditkothari commented on #50
Hi @Vanisha27,
Colors which I think should suit the persona:
![mini Brand color Guide: ](https://user-images.githubusercontent.com/409625/39229673-4d425940-4881-11e8-8219-efc88dab8323.jpg)

Sample use of graphic element: in the UI and page footer.
![quizapp_2](https://user-images.githubusercontent.com/409625/39229660-3f2d9342-4881-11e8-86b1-386037e796b0.jpg)

About the dashboard, I think going wit

[2018-04-25 06:56] Vanisha27 commented on #50
Hey @viditkothari
Thank you for the suggestions. They are really helpful. :innocent:
Use of graphic element in UI looks good. :ok_hand:

As for the alignment of profile avatar, we're going for left-aligned since we want to put only the statistics in the centre.
Also, if pie graphs are used, I think only one would be enough to show many details.

Yepp scrolling should not be needed. In the mockup a

[2018-04-25 07:05] viditkothari commented on #50
Thanks :)
I expressed concern for scrolling because there is significant possibility of quiz app being used from devices which are still running in 1260 or 1366 dimensions of lower and for mobile devices when the circular graphs start to stack themselves, user may be forced to scroll (lowering the size of the graphs will make it less legible. Unless you include a font in your brand guide which loo

[2018-04-25 07:09] Vanisha27 commented on #50
Will surely take these things into consideration. Thanks a lot. :)

[2018-04-26 08:51] goss-gowtham opened #71 "Footer is not aligned properly and Start Quiz button doesn't have Hover effect."
Footer Image:
![image](https://user-images.githubusercontent.com/29202347/39295793-edc9e244-495c-11e8-8576-76317755108a.png)
Start Quiz button can have some hover effect to have good UI:
![image](https://user-images.githubusercontent.com/29202347/39295854-14a5c7ca-495d-11e8-9b40-a8675bb9d633.png)

[2018-04-26 16:51] ezioda004 commented on #65
Resolved #69
Closing this.

[2018-04-26 16:51] #65 closed

[2018-05-01 17:25] jibin2706 opened #78 "favicon icon for the website"
![screenshot_2018-05-02_21-35-44](https://user-images.githubusercontent.com/28289448/39535398-70b19adc-4e51-11e8-81ec-8f198e88f3df.png)

[2018-05-02 07:13] ezioda004 commented on #78
@jibin2706 Any changes are you proposing?

[2018-05-02 07:36] jibin2706 commented on #78
@kadumuri1994 I'm talking about the icon near the title.

[2018-05-02 07:44] abhishekakade commented on #78
@jibin2706, you mean favicon?

[2018-05-02 16:32] seethaR03 commented on #78
Is this open?

[2018-05-02 17:25] Logan1x commented on #78
Do you have any ideas in mind for favicon? @seethaR03

[2018-05-02 17:41] lalitmee commented on #78
I think we need to design a favicon for our project if we really want to add that in our web application. We would need some creative ideas for designing the favicon. :innocent:

If anyone has any idea, you are welcome with your ideas for sharing and discussing about that which one will be better to have. :+1:

[2018-05-02 19:46] seethaR03 commented on #78
Is this alright or something more creative is required ?
![favicon](https://user-images.githubusercontent.com/27719165/39545674-91fe474e-4e6f-11e8-94dd-6df2dcb11d73.gif)

[2018-05-02 20:32] lalitmee commented on #78
Hey @seethaR03, I think its good but it should not blink and if content can be made more visible, that would be better.

[2018-05-03 02:29] seethaR03 commented on #78
No need of animation in the icon!?Shall I come up with another and make a PR then?

[2018-05-03 03:27] seethaR03 commented on #78
![favicon-_1_](https://user-images.githubusercontent.com/27719165/39558860-c2dae9cc-4eaf-11e8-8607-b2d4982d128f.gif)
How about this one ?

[2018-05-03 07:38] nehavatsyan commented on #78
![ss](https://user-images.githubusercontent.com/35574268/39564727-05b4d762-4ed3-11e8-90ed-10e2873973f8.png)
how about this one i have created two

[2018-05-03 07:40] jibin2706 commented on #78
I think the design should be similar to the logo.

[2018-05-03 11:29] lalitmee commented on #78
Yeah, favicon should be similar to the logo but I think it should describe something about the application. Because we cant have the full logo or title in the favicon. :innocent:

[2018-05-03 12:10] seethaR03 commented on #78
What about the latest one I have posted @lalitmee @jibin2706

[2018-05-03 12:15] lalitmee commented on #78
Hey @seethaR03, @nehavatsyan and all others who are suggesting for the favicon icon. I would like to show you the favicon icon of [gmail](https://www.google.com/a/cpanel/iiitvadodara.ac.in/images/favicon.ico), I think we can follow the measurements according to this and for the design, we will try to integrate all of your designs into one.

[2018-05-03 12:16] seethaR03 commented on #78
Alright @lalitmee  but you are saying full title should not be mentioned in logo?

[2018-05-03 12:48] jibin2706 commented on #78
@lalitmee the fonts can use the blue pink color from the logo

[2018-05-03 16:03] Logan1x commented on #78
the favicon should represent what is our website/project is all about does not matter if it contains text or not.

[2018-05-03 16:29] nehavatsyan commented on #78
![favicon](https://user-images.githubusercontent.com/35574268/39589924-1e6cfaba-4f1d-11e8-9915-0f268f54844e.png)
i tried a new one is it okay

[2018-05-03 16:30] Logan1x commented on #78
@nehavatsyan  it is not much visible in 16 x 16

[2018-05-03 16:31] nehavatsyan commented on #78
ya i will fix its size

[2018-05-03 16:33] Logan1x commented on #78
the design is most likely decided by voting I think

[2018-05-03 17:11] seethaR03 commented on #78
![9860favicon-_1_](https://user-images.githubusercontent.com/27719165/39591951-fbfb4ea4-4f22-11e8-8841-713a1af009e3.gif)
@lalitmee  is it better now ?

[2018-05-04 01:42] lalitmee commented on #78
@seethaR03, yeah it's better now. Let's wait for others what the say about this. :innocent:

[2018-05-05 15:09] ezioda004 commented on #2
@sumilmehta It's more or less high level model so some attributes wont match up exactly. I won't really fret about this.
Closing this.

[2018-05-05 15:09] #2 closed

[2018-05-06 10:10] sumilmehta commented on #78
![skill up](https://user-images.githubusercontent.com/18137211/39672229-b9925670-5143-11e8-9d30-5c392eaf7b95.png)

[2018-05-06 17:06] ezioda004 opened #85 "Update the Header for Dashboard"
Implement the navbar as shown in this image.
![image](https://user-images.githubusercontent.com/20020273/39674799-0e54ea80-516f-11e8-9164-62d0d7a1cd23.png)

You'll be making changes in Header.js/Header.css
Head down to `quiz-app => src => Components => Header => Header.js/Header.css

**Important instructions to follow before you start working because this requires you to be authenticated and added

[2018-05-06 17:43] ezioda004 opened #86 "Complete the Profile Component for Dashboard"
Implement the profile as shown in this image.
![image](https://user-images.githubusercontent.com/20020273/39674799-0e54ea80-516f-11e8-9164-62d0d7a1cd23.png)

You'll be making changes in `Profile.js/Profile.css`
Head down to `quiz-app => src => Components => Profile => Profile.js/Profile.css

**Important instructions to follow before you start working because this requires you to be authenticated a

[2018-05-06 18:14] Padhma commented on #85
Can I work on this issue @ezioda004 ???

[2018-05-06 18:33] ezioda004 commented on #85
@Padhma Yes, please go ahead.
Feel free to DM us on slack or ask here if you're stuck in any of the steps or require any sort of assistance.

[2018-05-06 20:45] abhishekakade commented on #86
What skills are required to solve this issue? I'd like to work on it but I don't know any back end stuff.

[2018-05-07 02:50] SukhjinderArora commented on #86
I can work on it, please assign this issue to me.

[2018-05-07 05:30] ezioda004 commented on #86
@abhishekakade Knowledge of React/Redux as well as some familiarity to generate these graph via some libraries is required.
@SukhjinderArora Making sure, are you familiar with what I just mentioned?

[2018-05-07 05:33] SukhjinderArora commented on #86
@ezioda004 Ok, how much knowledge of react and redux is required as I am a beginner in react ?

[2018-05-07 05:38] ezioda004 commented on #86
@SukhjinderArora You'll be working with the data passed in props (user authentication) which you'll need to manipulate. Also, the more important part is how you'll generate graphs for statistics. We're looking for something easy to use.

[2018-05-07 17:54] creatorisback commented on #86
I'll do that assign this issue to me

[2018-05-07 18:43] ezioda004 commented on #86
Assigning to @creatorisback

[2018-05-09 04:14] vikkrantxx7 commented on #78
How's this -
![target-circle-blue-64](https://user-images.githubusercontent.com/37444378/39795405-83dff538-536d-11e8-81e4-0312e8e91b66.png)

[2018-05-09 05:14] vattytrivedi commented on #78
# First logo
![skillup](https://user-images.githubusercontent.com/14287645/39796594-01cbd528-5375-11e8-8343-cb8032ee93ab.jpg)
# Second logo
![skillup-2](https://user-images.githubusercontent.com/14287645/39796595-02319bc4-5375-11e8-9e57-3fa2b0bf659c.jpg)

[2018-05-09 07:36] Logan1x commented on #78
@vattytrivedi  it would be great if you could paste images with 16 x 16 size.

[2018-05-09 07:48] vattytrivedi commented on #78
Here are the requested file @Logan1x. Sorry I shared the drive link because cannot upload ico files.

[Logo 1](https://drive.google.com/file/d/1T9_78drK33JcFstet7qsnM6wcssVT_4M/view?usp=sharing)
[Logo 2](https://drive.google.com/file/d/1rh0uDLL-_iC4MQyFMOhRKpPIzZpaaWi1/view?usp=sharing)

[2018-05-09 07:52] Logan1x commented on #78
Then you should share a screenshot of the title bar with favicon.ico in it. @vattytrivedi .

btw my vote is for the 1st one(but idk how it'll look in 16x16).

[2018-05-09 08:02] vattytrivedi commented on #78
Here is the Screenshot.
![ss-skill](https://user-images.githubusercontent.com/14287645/39803006-488a5bde-538d-11e8-9de2-99e0c03d7d98.png)

[2018-05-09 13:46] jibin2706 commented on #78
@vattytrivedi The second one looks good

[2018-05-09 14:08] Vanisha27 commented on #78
@vattytrivedi I like the second one :ok_hand:

[2018-05-09 15:41] abhishekakade commented on #78
![favicons-all](https://user-images.githubusercontent.com/26276153/39824663-845715fe-53cd-11e8-9bbd-ce0e138fb310.png)

[2018-05-09 15:52] abhishekakade commented on #78
![facicons-all-firefox](https://user-images.githubusercontent.com/26276153/39825274-09d7ffbc-53cf-11e8-8951-285dc8e8f24c.JPG)
![favicons-all-chrome](https://user-images.githubusercontent.com/26276153/39825275-0a0da568-53cf-11e8-9264-576f4030adc4.JPG)

[2018-05-11 13:56] vattytrivedi commented on #78
Is favicon still pending to be decided?

[2018-05-11 14:52] #85 closed

[2018-05-11 14:54] #10 closed

[2018-05-11 15:41] jibin2706 commented on #78
@ezioda004 less the 2 days left

[2018-05-11 16:02] Vanisha27 commented on #78
We're going with the one submitted by @vattytrivedi :smiley:

![](https://user-images.githubusercontent.com/14287645/39796595-02319bc4-5375-11e8-9e57-3fa2b0bf659c.jpg)
Thank you @vattytrivedi @abhishekakade @sumilmehta @vikkrantxx7 @seethaR03 @nehavatsyan for your time and effort. We truly appreciate it. :innocent:

[2018-05-12 10:41] vattytrivedi commented on #78
Do I have to make a PR for the favicon?
@Vanisha27

[2018-05-13 05:16] Vanisha27 commented on #78
Yes, please make a PR. @vattytrivedi

[2018-05-13 07:02] vattytrivedi commented on #78
@Vanisha27
Instead of PR here is the link to the ico. You can download it and add to the repo.
https://drive.google.com/file/d/1hk8yCCinx2T9bBLgOZBBBqbgS1GJShBZ/view?usp=sharing

[2018-05-21 17:10] gauravsinghaec opened #89 "Not able to signup- Getting error"
Hey Team,
Can you please check why am I getting this error on signup?
![image](https://user-images.githubusercontent.com/15084301/40320045-e62d4ff4-5d47-11e8-800e-6656ce6e0b2c.png)

![image](https://user-images.githubusercontent.com/15084301/40319996-c948dcd2-5d47-11e8-965c-f9a7b3790b76.png)

[2018-05-21 17:21] gauravsinghaec opened #90 "Path issue in website/app URL"
As I can see this as single page application but I am getting different URL path when I click on Log in and Sign up link on homepage, please find below screenshot :

![image](https://user-images.githubusercontent.com/15084301/40320440-6628801a-5d49-11e8-8345-5576e36da2e0.png)
**Click on Login**
![image](https://user-images.githubusercontent.com/15084301/40320290-c897f362-5d48-11e8-8193-e8e82128979

[2018-05-21 17:26] lalitmee commented on #90
Hey @gauravsinghaec, thanks for pointing out the issue. We will look into this. :+1:

[2018-05-21 17:27] gauravsinghaec opened #91 "Hamburger menu icon is not working on mobile view"
Hamburger menu icon is not working on mobile view, hence cannot see any navigation to homepage screen. Also, the **Skill Up**  anchor link on Login and Signup page is not working but its working on the homepage.

**Mobile view**
![image](https://user-images.githubusercontent.com/15084301/40320592-d545ed70-5d49-11e8-8a2b-545d274fc27e.png)

**Desktop View**
![image](https://user-images.githubusercon

[2018-05-21 21:05] ezioda004 commented on #89
This has not been implemented yet. Only Google oauth has been done.

[2018-05-21 21:08] ezioda004 commented on #91
Its needs backend server to be able to get or better decide its state as which navbar to render (its a placeholder, nonetheless something more appropriate would be better).
However, there should be a default behavior.

[2018-05-22 02:13] gauravsinghaec commented on #89
Okay, in that case, wouldn't it be good that you prevent the default submit event getting fired on signup button click so that user will remain on the same page.

[2018-05-22 02:18] gauravsinghaec commented on #91
Hey it's not about backend, see when you are on desktop view, you have Login and Signup Link on the navigation and as soon as you reduce the viewport size, the nav items are collapsed and menu icon appears but on click on menu it should show that two link Signup and Login. Also the link on *SKILL UP* is working on desktop view and reloading the homepage but on mobile view it's not responding. Migh

[2019-01-26 19:08] #78 closed

[2020-09-08 11:40] subeeshp opened #93 "Quiz"